<table class="min-w-full bg-white border border-gray-200 shadow-md rounded-lg overflow-hidden">
    <thead>
        <tr class="bg-blue-600 text-white">
            <th class="py-3 px-4 text-left">ID</th>
            <th class="py-3 px-4 text-left">Nom</th>
            <th class="py-3 px-4 text-left">Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr class="border-b border-gray-200 hover:bg-gray-100 transition">
            <td class="py-3 px-4">{{ user.id }}</td>
            <td class="py-3 px-4">{{ user.name }}</td>
            <td class="py-3 px-4">{{ user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
